<html>
<head>
    <meta charset="utf-8">
    <title>Blockly Demo: Arduino</title>
    <link href="{{ image('favicon.ico') }}" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="{{ css('main.css') }}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ blocklyduino_lib('Blob.js') }}"></script>
    <script type="text/javascript" src="{{ blocklyduino_lib('FileSaver.min.js') }}"></script>
    <script type="text/javascript" src="{{ blocklyduino_lib('blockly_helper.js') }}"></script>
    <script>
        /**
         * List of tab names.
         * @type {string[]}
         * @private
         */
        var TABS_ = ['blocks', 'arduino', 'xml'];

        /**
         * The default tab to select on page load
         * @type {string}
         */
        var selected = 'blocks';

        /**
         * Switch the visible pane when a tab is clicked.
         * @param {string} id ID of tab clicked.
         */
        function tabClick(id) {
            // If the XML tab was open, save and render the content.
            if (document.getElementById('tab_xml').className == 'tabon') {
                var xmlTextarea = document.getElementById('textarea_xml');
                var xmlText = xmlTextarea.value;
                var xmlDom = null;
                try {
                    xmlDom = Blockly.Xml.textToDom(xmlText);
                } catch (e) {
                    var q =
                            window.confirm('Error parsing XML:\n' + e + '\n\nAbandon changes?');
                    if (!q) {
                        // Leave the user on the XML tab.
                        return;
                    }
                }
                if (xmlDom) {
                    Blockly.mainWorkspace.clear();
                    Blockly.Xml.domToWorkspace(Blockly.mainWorkspace, xmlDom);
                }
            }

            // Deselect all tabs and hide all panes.
            for (var x in TABS_) {
                document.getElementById('tab_' + TABS_[x]).className = 'taboff';
                document.getElementById('content_' + TABS_[x]).style.display = 'none';
            }

            // Select the active tab.
            selected = id.replace('tab_', '');
            document.getElementById(id).className = 'tabon';
            // Show the selected pane.
            var content = document.getElementById('content_' + selected);
            content.style.display = 'block';
            renderContent();
        }

        /**
         * Populate the currently selected pane with content generated from the blocks.
         */
        function renderContent() {
            var content = document.getElementById('content_' + selected);
            // Initialize the pane.
            if (content.id == 'content_blocks') {
                // If the workspace was changed by the XML tab, Firefox will have performed
                // an incomplete rendering due to Blockly being invisible.  Rerender.
                Blockly.mainWorkspace.render();
            } else if (content.id == 'content_xml') {
                var xmlTextarea = document.getElementById('textarea_xml');
                var xmlDom = Blockly.Xml.workspaceToDom(Blockly.mainWorkspace);
                var xmlText = Blockly.Xml.domToPrettyText(xmlDom);
                xmlTextarea.value = xmlText;
                xmlTextarea.focus();
            } else if (content.id == 'content_arduino') {
                var arduinoTextarea = document.getElementById('textarea_arduino');
                arduinoTextarea.value = Blockly.Generator.workspaceToCode('Arduino');
                arduinoTextarea.focus();
            }
        }

        /**
         * Initialize Blockly.  Called on page load.
         * @param {!Blockly} blockly Instance of Blockly from iframe.
         */
        function init(blockly) {
            window.Blockly = blockly;

            // Make the 'Blocks' tab line up with the toolbox.
            if (Blockly.Toolbox) {
                window.setTimeout(function() {
                    document.getElementById('tab_blocks').style.minWidth =
                            (Blockly.Toolbox.width - 38) + 'px';
                    // Account for the 19 pixel margin and on each side.
                }, 1);
            }

            auto_save_and_restore_blocks();

            //load from url parameter (single param)
            //http://stackoverflow.com/questions/2090551/parse-query-string-in-javascript
            var dest = unescape(location.search.replace(/^.*\=/, '')).replace(/\+/g, " ");
            if(dest){
                load_by_url(dest);
            }
        }

        /**
         * Generates the JSON to use with CompilerFlasher
         * @returns {string} A JSON to punt to the compilerflasher
         */
        function getFiles(){
            return {"sketch.ino": Blockly.Generator.workspaceToCode('Arduino')};
        }
    </script>
</head>
<body>
<table height="100%" width="100%">
    <tr>
        <td colspan="2" height="1.5em">
            <div id="sketch_buttons" style="float:right;">
                <button onclick="discard()">Discard Sketch</button>
                <button onclick="save()">Save Sketch</button>
                <button id="fakeload">Load Sketch</button>
                <input type="file" id="load" style="display: none;"/>
            </div>
            <h2><a href="https://github.com/gasolin/BlocklyDuino/wiki">BlocklyDuino</a> <a href="http://codebendercc.github.io/compilerflasher">Compilerflasher</a></h2>
            <h4>A web-based visual programming editor for Arduino with Flashing!</h4>
        </td>
    </tr>
    <tr>
        <td width="25%">
            <table id="control_panel">
                <tr>
                    <td>
                        <label for="cb_cf_boards">Select a board:</label><br>
                        <select id="cb_cf_boards" style="width: 230px;"></select>
                        <button id="cb_cf_verify_btn" class="btn btn-success">Verify code!</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="cb_cf_ports">Select a Port:</label><br />
                        <select id="cb_cf_ports"></select>
                        <button id="cb_cf_flash_btn" >Flash</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="cb_cf_programmers">Select a Programmer:</label><br />
                        <select id="cb_cf_programmers"></select>
                        <button id="cb_cf_flash_with_prog_btn">Flash w/ Programmer</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="cb_cf_baud_rates">Select a Speed:</label><br />
                        <select id="cb_cf_baud_rates"></select>
                        <button id="cb_cf_serial_monitor_connect">Open Serial Monitor</button>
                        <div id="cb_cf_serial_monitor"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="cb_cf_operation_output">Status:</label>
                        <p id="cb_cf_operation_output"></p>
                        <label for="event_msg">Event messages:</label>
                        <div id="event_msg"></div>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <div id="view_buttons">
                Change the view:
                <button id="tab_blocks" class="tabon" onclick="tabClick(this.id)">Blocks</button>
                <button id="tab_arduino" class="taboff" onclick="tabClick(this.id)">Arduino</button>
                <button id="tab_xml" class="taboff" onclick="tabClick(this.id)">XML</button>
            </div>
            <iframe id="content_blocks" src="{{ url('blocklyframe') }}"></iframe>
            <div id="content_arduino">
                <textarea id="textarea_arduino" readonly></textarea>
            </div>
            <div id="content_xml">
                <textarea id="textarea_xml" readonly></textarea>
            </div>
        </td>
    </tr>
</table>
<script src="//codebender.cc/embed/compilerflasher.js" type="text/javascript"></script>
<script>
    /**
     * Document Ready actions
     */
    $(document).ready(function(){
        window.osBrowserIsSupported = function () {
            return true;
        };
        compilerflasher = new compilerflasher(getFiles);

        /**
         * Redefines compilerflasher's getbin function so that it points at our builder route.
         * @param callback The callback function that hooks into getbin.
         */
        compilerflasher.getbin = function(callback) {
            window.operationInProgress = true;
            var payload = this.generate_payload("binary");
            var cb = this;
            $.post("{{ path('compile') }}", payload, function (data) {
                try{
                    var obj = jQuery.parseJSON(data);
                    callback(obj);
                }
                catch(err){
                    cb.setOperationOutput('<i class="icon-remove"></i> Unexpected error occurred. Try again later.');
                    cb.eventManager.fire('verification_failed', '<i class="icon-remove"></i> Unexpected error occurred. Try again later.');
                }
            })
            .fail(function() {
                cb.setOperationOutput("Connection to server failed.");
                cb.eventManager.fire('verification_failed', "Connection to server failed.");
            })
            .always(function () {
                window.operationInProgress = false;
            });
        };
    });
</script>
</body>
</html>