<html>
<head>
    <meta charset="utf-8">
    <title>codebender : blocks</title>

    <link href="{{ image('favicon.ico') }}" rel="shortcut icon">
    <link rel="stylesheet" href="{{ css('bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ css('font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ css('main.css') }}">

    {% if demo %}
        <style>
            #more-options a {
                color: #848482;
                pointer-events: none;
            }
        </style>
    {% endif %}

    <script src="{{ script('jquery-1.12.4.min.js') }}"></script>
    <script src="{{ script('jquery.color-2.1.2.min.js') }}"></script>
    <script src="{{ script('bootstrap.min.js') }}"></script>

    <script src="{{ blocklyduino_lib('Blob.js') }}"></script>
    <script src="{{ blocklyduino_lib('spin.js') }}"></script>
    <script src="{{ blocklyduino_lib('FileSaver.min.js') }}"></script>
    <script src="{{ blocklyduino_lib('blockly_helper.js') }}"></script>

    <script>
        /**
         * Initialize Blockly.  Called on page load.
         * @param {!Blockly} blockly Instance of Blockly from iframe.
         */
        function init(blockly) {
            window.Blockly = blockly;

            Blockly.mainWorkspace.addChangeListener(function () {
                var arduinoTextarea = document.getElementById('textarea_arduino');
                arduinoTextarea.value = Blockly.Arduino.workspaceToCode(Blockly.mainWorkspace);
            });
        }

        /**
         * Generates the JSON to use with CompilerFlasher
         * @returns {string} A JSON to punt to the compilerflasher
         */
        function getFiles() {
            return {
                'sketch.ino': Blockly.Arduino.workspaceToCode(Blockly.mainWorkspace)
            };
        }
    </script>
</head>
<body>
<div id="blockly-controls-container">
    <button id="cb_cf_verify_btn" class="blockly-button btn btn-success" data-toggle="tooltip"
            title="Verify Code"
            disabled="disabled">
        <i class="icon-ok"></i>
    </button>

    <button id="cb_cf_flash_btn" class="blockly-button btn btn-success" data-toggle="tooltip"
            title="Run on Arduino" disabled="disabled">
        <i class="icon-long-arrow-right"></i>
    </button>

    <select id="cb_cf_boards" class="cb-cf-control" data-toggle="tooltip" title="Boards"></select>

    <select id="cb_cf_ports" class="cb-cf-control" data-toggle="tooltip" title="Ports"></select>

    <pre id="cb_cf_operation_output" class="cb-cf-control"></pre>

    <a id="serial_monitor_toggle" href="javascript:void(0)" class="btn" data-toggle="tooltip"
       title="Toggle Serial Monitor">
        <i class="icon-list-alt"></i> Serial Monitor
    </a>

    <div id="more-options-container" class="btn-group" title="More Options">
        <a href="javascript:void(0)" class="options-button btn dropdown-toggle" data-toggle="dropdown">
            <i class="icon-reorder"></i>
        </a>

        <ul id="more-options" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li class="dropdown-submenu">
                <a tabindex="-1" href="javascript:void(0)">Save</a>
                <ul class="dropdown-menu">
                    <li>
                        <a id="save-arduino" href="javascript:void(0)">Arduino</a>
                    </li>
                    <li>
                        <a id="save-xml" href="javascript:void(0)">XML</a>
                    </li>
                </ul>
            </li>
            <li>
                <a id="open" href="javascript:void(0)">Open
                    <input id="open-file" type="file" accept="text/xml" name="file[]" action="upload" method="post">
                </a>
            </li>
            <li>
                <a id="clear" href="javascript:void(0)">Clear</a>
            </li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="javascript:void(0)">Load Example</a>
                <ul id="examples" class="dropdown-menu">
                    {% for example in examples %}
                        <li>
                            <a href="javascript:void(0)" class="example" data-name="{{ example }}">{{ example }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</div>
<hr class="separator">

<div id="main-container">
    <div id="container_top">
        <a id="toggle-arduino-code" class="btn" href="javascript:void(0)" data-toggle="tooltip"
           title="Toggle Arduino code">
            <i class="icon-code"></i>
        </a>

        <textarea id="textarea_arduino" readonly></textarea>

        <iframe id="content_blocks" src="{{ url('blocklyframe') }}"></iframe>
    </div>

    <div id="ns_draggable_handle"><i class="icon-ellipsis-horizontal"></i></div>

    <div id="container_bottom">
        <div id="serial_monitor">
            <button id="serial_monitor_close_btn" type="button" class="close" onclick="close_serial_monitor()">
                <i class="icon-remove"></i>
            </button>
            <div id="serial-wrapper" class="clearfix">
                <div id="user_input" class="clearfix">
                    <span id="serial-connect-container">
                        <select id="cb_cf_baud_rates" class="dropdown" data-toggle="tooltip" data-placement="bottom"
                                title="Serial Monitor Speed"></select>
                        <button id="cb_cf_serial_monitor_connect" class="btn">
                            <i class="icon-link"></i> <span class="text-large">Connect</span>
                        </button>
                    </span>

                    <span id="serial_monitor_content">
                        <span id="serial-controls-container">
                            <span id="serial-checkboxes">
                                <label id="autoscroll_label" class="checkbox">
                                    <input id='autoscroll_check' type="checkbox" checked>
                                    Autoscroll
                                </label>

                                <label id="echo_label" class="checkbox">
                                    <input id='echo_check' type="checkbox">
                                    Echo
                                </label>
                            </span>

                            <select id="serial-line-endings">
                                <option value="nle">No line ending</option>
                                <option value="nl">Newline</option>
                                <option value="cr">Carriage return</option>
                                <option value="nlcr" selected="selected">Both NL & CR</option>
                            </select>
                        </span>

                        <span id="serial-send-container">
                            <input id="text2send" type="text" placeholder="Type a message"
                                   onkeypress="compilerflasher.pluginHandler.serialSendOnEnter(event)">
                            <button id="serial_send" onclick="compilerflasher.pluginHandler.serialSend()" class="btn"
                                    title="Send Message">
                                Send
                            </button>
                        </span>
                    </span>

                </div>
                <div id="serial_monitor_output">
                    <pre id="serial_hud"></pre>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    (function () {
        var p = [], w = window, d = document, e = f = 0;
        p.push('ua=' + encodeURIComponent(navigator.userAgent));
        e |= w.ActiveXObject ? 1 : 0;
        e |= w.opera ? 2 : 0;
        e |= w.chrome ? 4 : 0;
        e |= 'getBoxObjectFor' in d || 'mozInnerScreenX' in w ? 8 : 0;
        e |= ('WebKitCSSMatrix' in w || 'WebKitPoint' in w || 'webkitStorageInfo' in w || 'webkitURL' in w) ? 16 : 0;
        e |= (e & 16 && ({}.toString).toString().indexOf("\n") === -1) ? 32 : 0;
        p.push('e=' + e);
        f |= 'sandbox' in d.createElement('iframe') ? 1 : 0;
        f |= 'WebSocket' in w ? 2 : 0;
        f |= w.Worker ? 4 : 0;
        f |= w.applicationCache ? 8 : 0;
        f |= w.history && history.pushState ? 16 : 0;
        f |= d.documentElement.webkitRequestFullScreen ? 32 : 0;
        f |= 'FileReader' in w ? 64 : 0;
        p.push('f=' + f);
        p.push('r=' + Math.random().toString(36).substring(7));
        p.push('w=' + screen.width);
        p.push('h=' + screen.height);
        var s = d.createElement('script');
        s.src = '//codebender.cc/js/whichbrowser/detect.js?' + p.join('&');
        d.getElementsByTagName('head')[0].appendChild(s);
    })();


    {% if demo %}
    $(function () {
        var title = 'Option is disabled in the demo';

        var $moreOptions = $('#more-options');

        $moreOptions.find('> li ul').remove();

        $moreOptions.find('> li').attr('title', title).tooltip({
            title: title,
            container: 'body',
            placement: 'left'
        });
    });
    {% endif %}
</script>
<script type="text/javascript" src="//codebender.cc/js/codebender/browser_detect.js"></script>
<script type="text/javascript" src="//codebender.cc/walkthrough/lawnchair-0.6.4.min.js"></script>
<script type="text/javascript" src="{{ script('cbcf-frontend.js') }}"></script>
<script type="text/javascript">
    window.codebender = {
        download: "{{ path('download') }}",
        example: "{{ path('example') }}",
        compilerflasher: {
            utilitiesCompile: "{{ path('compile') }}",
            listBoards: "{{ asset('boards.json') }}"
        }
    };
</script>
<script type="text/javascript" src="{{ script('jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ script('serialMonitorUI.js') }}"></script>
<script type="text/javascript" src="{{ script('main.js') }}"></script>
</body>
</html>
